.visibility-filter {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: baseline;
  height: 32px;
}
.visibility-filter > label {
  font-size: 1.2em;
}

.button-group {
  display: flex;
  padding: 0;
  margin-left: 20px;
  border: 2px solid black;
}
.button-group > button {
  border: 0px;
  border-radius: 0;
  margin: 0px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}
.button-group > button:focus {
  outline: none;
}
.button-group > button:not(:first-child) {
  border-left: 1px solid black;
}
.button-group > button.active {
  background-color: black;
  color: white;
}
