.error-banner {
  display: flex;
  align-items: center;
  flex: none;
  background-color: red;
  color: white;
  margin-right: 25px;
  min-width: 300px;
  padding-left: 10px;
  visibility: hidden;
}
.error-banner.has-error {
  visibility: visible;
}
.error-banner .icon-warning {
  display: block;
  position: relative;
  top: 2px;
  flex: none;
  font-size: 2em;
  padding-right: 10px;
}
.error-banner .error-text {
  display: block;
  width: 100%;
  line-height: 2;
}
.error-banner .close-button {
  display: block;
  flex: none;
  line-height: 2;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
