#App {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: calc(100vh - 20px);
  max-width: 1024px;
  background-color: lightblue;
  padding: 20px;
  padding-bottom: 12px;
}

.title-row {
  flex: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 10px;
  height: 38px;
}

.title {
  width: 100%;
  height: 38px;
}
.title h2 {
  display: block;
  margin: 0;
  color: white;
  font-size: 2em;
}
