@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  visibility: hidden;
  border: 4px solid white;
  border-top: 4px solid orange;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 2s linear infinite;
}
.spinner.loading {
  visibility: visible;
}
